/* default color */
html {
	background-color: #fff;
}

/* make the navbar the windows's draggable region */
#react-root header nav,
/* DM modal navbar */
#react-root ._3FIA3A1x._3tixQkQf,
/* login navbar */
.sessions-page .timeline-head {
	-webkit-app-region: drag;
}

/* force a scrollbar on Linux and Windows to prevent jumping when changing tabs */
html.os-linux,
html.os-win32 {
	overflow-y: scroll !important;
}

/* navbar */
html.os-darwin #react-root header .WBlUyLoP {
	max-width: 800px !important;
	width: 60% !important;
}
html.os-linux #react-root header .WBlUyLoP,
html.os-win32 #react-root header .WBlUyLoP {
	/* wider on Linux and Windows since they don't have the traffic lights */
	max-width: 800px !important;
	width: 80% !important;
}

/* hide profile link in navbar */
._1dNhc0QK > ._3tixQkQf:last-of-type {
	display: none;
}

/* main */
#react-root main .WBlUyLoP {
	max-width: 800px !important;
	width: 90% !important;
}

/* push the compose modal down */
html.os-darwin #react-root .SaRmWN__._3tixQkQf {
	top: 40px !important;
}

/* push the login navbar down */
.ResponsiveLayout {
	padding-top: 40px !important;
}

/* bird overlaps with the login navbar */
img.larrybird {
	padding-left: 80px !important;
}

/* make nav bar more narrow */
#react-root ._2XOZ62oy {
	height: 2.6rem !important;
}

/* remove bottom border from active navbar tab */
#react-root ._1Qfdd7IP {
	box-shadow: none !important;
}

/* smaller navbar icons */
#react-root ._3zdG1IkJ {
	height: 1.7rem !important;
}

/* push the image close button down so it's not covered by the OS X traffic lights */
html.os-darwin #react-root ._246HcQqT {
	margin-top: 30px !important;
}

/* push tweet actions to bottom of tweet container when content is short */
._2_w-kL22 {
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}

/* fix embedded images centering */
._37JDxKW_ {
	margin: auto !important;
}

/* make embedded images full width */
._1gSEd2sj {
	width: 100%;
}

/* change scrollbar style */
html:-webkit-any(.os-linux, .os-win32) ::-webkit-scrollbar {
	width: 4px;
}
html:-webkit-any(.os-linux, .os-win32) ::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
	border-radius: 2px;
}
html:-webkit-any(.os-linux, .os-win32) ::-webkit-scrollbar-thumb {
	background: #444;
	border-radius: 2px;
	-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
}

/* hide "your tweet was posted" message */
._1aaIXoeM.mqmxGGg7._3tixQkQf {
	display: none !important;
}

/* change loading spinner */
html div._7xnAHtWH._3tixQkQf {
	background: none;
	height: 27px;
	width: 27px;
	animation: loading 0.8s infinite linear;
	border: 2px solid #2AA2EF !important;
	border-right-color: transparent !important;
	border-radius: 50%;
}
@keyframes loading {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/* background of login page */
body.sessions-new-page {
	background: #fff;
	text-shadow: none !important;
}

/* hide header on login page */
body.sessions-new-page .timeline-head {
	display: none;
}

/* add top margin to login form */
body.sessions-new-page #main_content {
	min-height: 100%;
}

/* vertically cetner login form */
body.sessions-new-page #main_content .signup-body {
	position: absolute;
	top: 50%;
	right: 0;
	bottom: 50%;
	left: 0;
}

body.sessions-new-page #main_content .signup-body form {
	transform: translateY(-50%);
}

/* hide links on login page */
body.sessions-new-page .signup-field-hint,
body.sessions-new-page .signup-field-hint a:link {
	display: none;
}

/* login button on log in page */
body.sessions-new-page .button.signup {
	background-color: #2AA2EF;
	background-image: none;
	border-color: #2AA2EF;
	color: #fff;
	text-shadow: none;
}

/* remove generic outline from login inputs */
body.sessions-new-page input:focus,
body.sessions-new-page button:focus {
	outline: 0;
}

/* hide footer on login page */
body.sessions-new-page .footer {
	border: none;
	display: none;
}
