/* Default color */
html {
	background-color: #fff;
}

/* Make the navbar the windows's draggable region */
#react-root header[role="banner"],
/* DM modal navbar */
#react-root ._3FIA3A1x._3tixQkQf,
/* Login navbar */
.sessions-page .timeline-head {
	-webkit-app-region: drag;
}

/* Force a scrollbar on Linux and Windows to prevent jumping when changing tabs */
html.os-linux,
html.os-win32 {
	overflow-y: scroll !important;
}

/* Navbar */
#react-root header {
	position: relative;
	height: 50px;
}
#react-root header nav > div {
	max-width: 800px !important;
	margin: 0 auto;
}
html.os-darwin #react-root header nav > div {
	width: 60% !important;
}
html.os-linux #react-root header nav > div,
html.os-win32 #react-root header nav > div {
	/* Wider on Linux and Windows since they don't have the traffic lights */
	width: 80% !important;
}
#react-root header nav {
	border-bottom: 1px solid #e1e8ed;
	background-color: white;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}
#react-root header header nav > div,
._3ITjOJ53 {
	background-color: transparent !important;
	border: none;
}

/* Remove box shadow from nav (fixes #127) */
html.os-linux #react-root header div._1d_6kzhv {
	box-shadow: none;
}

/* Hide profile link in navbar */
header nav ._1CuE6zIr > ._3f2NsD-H:last-of-type {
	display: none;
}

/* Main */
#react-root main > div {
	max-width: 800px !important;
	width: 90% !important;
}

/* Push the compose modal down */
html.os-darwin #react-root .SaRmWN__._3tixQkQf {
	top: 40px !important;
}

/* Push the login navbar down */
.ResponsiveLayout {
	padding-top: 40px !important;
}

/* Bird overlaps with the login navbar */
img.larrybird {
	padding-left: 80px !important;
}

/* Scale down the profile picture image in expanded mode and add a padding */
div._1qcaWNh-._1sp7Rzwo._3tixQkQf > img._1MjUlO8b._3uSDkk5s {
	box-sizing: border-box;
	padding: 10px;
	max-width: 100%;
	max-height: 100%;
}

/* Make nav bar more narrow */
#react-root ._13hK_2jo {
	height: 2.6rem !important;
}

/* Remove bottom border from active navbar tab */
/* Override default color to blue on click active navbar */
#react-root ._1Qfdd7IP {
	box-shadow: none !important;
	color: #1da1f2 !important;
}

/* Set color for navbar item on :focus (Fixes #62) */
#react-root ._1GdFzFv1:focus {
	color: #8899a6;
}

/* Set color for navbar item on :active (Fixes #62) */
#react-root ._1GdFzFv1:active {
	color: #1da1f2;
}

/* Smaller navbar icons */
#react-root ._3zdG1IkJ {
	height: 1.7rem !important;
}

/* Push the image close button down so it's not covered by the macOS traffic lights */
html.os-darwin #react-root ._1TjEkJ1s ._246HcQqT {
	margin-top: 30px !important;
	z-index: 9999;
}

/* Push tweet actions to bottom of tweet container when content is short */
._2_w-kL22 {
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}

/* Fix embedded images centering */
._37JDxKW_ {
	margin: auto !important;
}

/* Make embedded images full width */
._1gSEd2sj {
	width: 100%;
}

/* Change scrollbar style */
html:-webkit-any(.os-linux, .os-win32) ::-webkit-scrollbar {
	width: 4px;
}
html:-webkit-any(.os-linux, .os-win32) ::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
	border-radius: 2px;
}
html:-webkit-any(.os-linux, .os-win32) ::-webkit-scrollbar-thumb {
	background: #444;
	border-radius: 2px;
	-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
}

/* Hide "your tweet was posted" message */
._1aaIXoeM.mqmxGGg7._3tixQkQf {
	display: none !important;
}

/* Change loading spinner */
html div._7xnAHtWH._3tixQkQf {
	background: none;
	height: 27px;
	width: 27px;
	animation: loading 0.8s infinite linear;
	border: 2px solid #2AA2EF !important;
	border-right-color: transparent !important;
	border-radius: 50%;
}
@keyframes loading {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/* Background of login page */
body.sessions-new-page {
	background: #fff;
	text-shadow: none !important;
}

/* Center header logo on login page replace logo with SVG version */
body.sessions-new-page .timeline-head {
	min-width: 100%;
	background-image: none;
	background: inherit;
}
body.sessions-new-page .timeline-head:before {
	background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 273.4 222.2"><path fill="#55ACEE" d="M273.4 26.3c-10.1 4.5-20.9 7.5-32.2 8.8 11.6-6.9 20.5-17.9 24.7-31-10.9 6.4-22.9 11.1-35.7 13.6A55.92 55.92 0 0 0 189.3 0c-31 0-56.1 25.1-56.1 56.1 0 4.4.5 8.7 1.5 12.8C88 66.5 46.7 44.2 19 10.3c-4.8 8.3-7.6 17.9-7.6 28.2 0 19.5 9.9 36.6 25 46.7-9.2-.3-17.8-2.8-25.4-7v.7c0 27.2 19.3 49.8 45 55-4.7 1.3-9.7 2-14.8 2-3.6 0-7.1-.4-10.6-1 7.1 22.3 27.9 38.5 52.4 39-19.2 15-43.4 24-69.7 24-4.5 0-9-.3-13.4-.8 24.8 15.9 54.3 25.2 86 25.2 103.2 0 159.6-85.5 159.6-159.6 0-2.4-.1-4.9-.2-7.3 11.1-8 20.6-17.9 28.1-29.1z"/></svg>') no-repeat;
	content: ' ';
	display: block;
	width: 30px;
	height: 30px;
	margin: 2px auto 0 auto;
}
body.sessions-new-page .timeline-head a {
	display: none;
}

/* Hide header title on login page */
body.sessions-new-page .timeline-head .title {
	display: none;
}

/* Add top margin to login form */
body.sessions-new-page #main_content {
	min-height: 100%;
}

/* Vertically center login form */
body.sessions-new-page #main_content .signup-body {
	position: absolute;
	top: 50%;
	right: 0;
	bottom: 50%;
	left: 0;
}
body.sessions-new-page #main_content .signup-body form {
	transform: translateY(-50%);
}

/* Change border on login form inputs */
body.sessions-new-page .inputs {
	border: 1px solid #e8e8e8;
	box-shadow: none;
	margin-left: 30px;
	margin-right: 30px;
}

/* Hide links on login page */
body.sessions-new-page .signup-field-hint,
body.sessions-new-page .signup-field-hint a:link {
	display: none;
}

/* Login button on log in page */
body.sessions-new-page .signup-button {
	margin-left: 30px;
	margin-right: 30px;
}
body.sessions-new-page .button.signup {
	background-color: #2AA2EF;
	background-image: none;
	border-color: #2AA2EF;
	color: #fff;
	text-shadow: none;
}

/* Remove generic outline from login inputs */
body.sessions-new-page input:focus,
body.sessions-new-page button:focus {
	outline: 0;
}

/* Hide footer on login page */
body.sessions-new-page .footer {
	border: none;
	display: none;
}

/* Tweet links are spans in spans in spans */
._3ZFqFXW8 ._3EzK97M9[dir=ltr] span {
	color: #2AA2EF !important;
}

/* Make "added to list" list name link consistent color */
._3ZDDth2l {
	color: inherit !important;
}

/* Remove inconsistent underline on hovering "added to list" list name links */
._3ZDDth2l:hover,
/* Remove inconsistent underline on hovering username links */
._2mYajcSS:hover ._2fjPhluv {
	color: inherit !important;
	text-decoration: none !important;
}

/* Remove 'who to follow' panel on profile page */
main > div._3xzA16lK /* profile page */ section > div > div > div > div > div /* timeline container */ > div:nth-child(4) /* who to follow */
{
	display: none;
}
