/* force a scrollbar on Linux and Windows to prevent jumping when changing tabs */
body.os-linux,
body.os-win32 {
	overflow-y: scroll !important;
}

/* navbar */
/* TODO: use wider values on non-OSX as they don't have the inline traffic lights */
#react-root header .WBlUyLoP {
	max-width: 60% !important;
	width: 60% !important;
}

/* main */
#react-root main .WBlUyLoP {
	max-width: 90% !important;
	width: 90% !important;
}

/* push the compose modal down */
/* TODO: only needed on OS X */
#react-root .SaRmWN__._3tixQkQf {
	top: 40px !important;
}

/* push the login navbar down */
.ResponsiveLayout {
	padding-top: 40px !important;
}

/* bird overlaps with the login navbar */
img.larrybird {
	padding-left: 80px !important;
}

/* make nav bar more narrow */
#react-root ._2XOZ62oy {
	height: 2.6rem !important;
}

/* remove bottom border from active navbar tab */
#react-root ._1Qfdd7IP {
	box-shadow: none !important;
}

/* smaller navbar icons */
#react-root ._3zdG1IkJ {
	height: 1.7rem !important;
}

/* push the modal close button for DM's to the right so it's not covered by the OS X traffic lights */
/* TODO: only needed on OS X */
#react-root main button[aria-label="Close"] {
	margin-left: 50px !important;
}

/* push the image close button down so it's not covered by the OS X traffic lights */
/* TODO: only needed on OS X */
#react-root ._246HcQqT {
	margin-top: 30px !important;
}
