/* force a scrollbar on Linux and Windows to prevent jumping when changing tabs */
body.os-linux,
body.os-win32 {
	overflow-y: scroll !important;
}

/* navbar */
.os-darwin #react-root header .WBlUyLoP {
	max-width: 60% !important;
	width: 60% !important;
}
.os-linux #react-root header .WBlUyLoP,
.os-win32 #react-root header .WBlUyLoP {
	/* wider on Linux and Windows since they don't have the traffic lights */
	max-width: 80% !important;
	width: 80% !important;
}

/* main */
#react-root main .WBlUyLoP {
	max-width: 90% !important;
	width: 90% !important;
}

/* push the compose modal down */
.os-darwin #react-root .SaRmWN__._3tixQkQf {
	top: 40px !important;
}

/* push the login navbar down */
.ResponsiveLayout {
	padding-top: 40px !important;
}

/* bird overlaps with the login navbar */
img.larrybird {
	padding-left: 80px !important;
}

/* make nav bar more narrow */
#react-root ._2XOZ62oy {
	height: 2.6rem !important;
}

/* remove bottom border from active navbar tab */
#react-root ._1Qfdd7IP {
	box-shadow: none !important;
}

/* smaller navbar icons */
#react-root ._3zdG1IkJ {
	height: 1.7rem !important;
}

/* push the image close button down so it's not covered by the OS X traffic lights */
.os-darwin #react-root ._246HcQqT {
	margin-top: 30px !important;
}

/* push tweet actions to bottom of tweet container when content is short */
._2_w-kL22 {
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
					flex-grow: 1;
}
