/* background colours */
html.darkMode,
/* nav bar */
html.darkMode nav,
/* input box */
html.darkMode ._2qaFoaOS,
/* spacers in trending page */
html.darkMode ._3o5W64B2,
/* DM background */
html.darkMode ._2fklWv1X,
/* suggested people */
html.darkMode .mqmxGGg7,
/* comment section */
html.darkMode ._1R-qbptt {
	background: #192633 !important;
}

/* navbar border */
html.darkMode ._3vk57kRX,
/* input box border */
html.darkMode ._2qaFoaOS,
/* suggested people */
html.darkMode ._3npsCUvN,
/* spacer border top */
html.darkMode ._2-x3RLq2,
/* retweet count borders */
html.darkMode ._1N8xRqVj,
html.darkMode ._3h5wA3M_,
/* element seperators */
html.darkMode .c2-JCY2V ._222QxFjc ._1BmZ-Yeo {
	border-color: rgba(255, 255, 255, 0.1);
}

/* base font colour */
html.darkMode,
html.darkMode nav,
html.darkMode ._2qaFoaOS,
html.darkMode .a--MP-qD,
html.darkMode .a--MP-qD:active,
html.darkMode .a--MP-qD:focus,
html.darkMode .a--MP-qD:hover {
	color: rgba(255, 255, 255, 0.4);
}

/* follow button */
html.darkMode ._2f-qOhRh {
	background: transparent;
}

/* Who to follow heading */
html.darkMode ._2LwEUgbO {
	border-color: rgba(255, 255, 255, 0.1);
}

/* user "real name" */
html.darkMode ._38kXZCmY,
/* follower counts */
html.darkMode ._3YZtKRZQ {
	color: rgba(255, 255, 255, 0.7);
}

/* embedded media border colour */
html.darkMode ._1K1FePxK,
html.darkMode .zLkZvTFz,
html.darkMode ._1unhGaVg {
	border-color: rgba(255, 255, 255, 0.1);
}

/* embedded media title */
html.darkMode ._3yLY5rI9 {
	color: #B7D1E4;
}

/* poll colour */
html.darkMode ._1BBfOLht {
	background-color: #0084ff !important;
}

/* DM conversation received text */
html.darkMode ._1xAkv3Rq._3tixQkQf {
	color: rgba(255, 255, 255, 0.5) !important;
}

/* DM send message textfield */
html.darkMode ._3gsfT3lC .JFlBIqN4,
/* DM search box */
html.darkMode .JFlBIqN4 {
	background: rgba(255, 255, 255, 0.1) !important;
	color: rgba(255, 255, 255, 0.9);
}

/* DM Send button */
html.darkMode ._1LQ_VFHl {
	border-color: #0084ff;
}

/* Trending item title */
html.darkMode ._2WpoiLFQ {
	color: rgba(255, 255, 255, 0.6);
}
