/* improved text rendering */
html.dark-mode * {
	-webkit-font-smoothing: antialiased !important;
}

/* background colours */
html.dark-mode,
/* background of login page */
html.dark-mode body.sessions-new-page,
/* nav bar */
html.dark-mode nav,
/* input box */
html.dark-mode ._2qaFoaOS,
/* spacers in trending page */
html.dark-mode ._3o5W64B2,
/* DM background */
html.dark-mode ._2fklWv1X,
/* suggested people */
html.dark-mode .mqmxGGg7,
/* user avatars */
html.dark-mode img._3uSDkk5s,
/* comment section */
html.dark-mode ._1R-qbptt {
	background: #192633 !important;
}

/* search lists */
html.dark-mode ._10lTeTjh {
	background: #2f3b47 !important;
}

/* navbar border */
html.dark-mode ._3vk57kRX,
/* input box border */
html.dark-mode ._2qaFoaOS,
/* compose tweet border */
html.dark-mode ._-99S9zHC,
/* suggested people */
html.dark-mode ._3npsCUvN,
/* spacer border top */
html.dark-mode ._2-x3RLq2,
/* retweet count borders */
html.dark-mode ._1N8xRqVj,
html.dark-mode ._3h5wA3M_,
/* heading border */
html.dark-mode ._3FIA3A1x,
/* DM message border */
html.dark-mode ._2ACoFZzr,
/* DM compuse top border */
html.dark-mode ._3so04aC4,
/* element seperators */
html.dark-mode ._2LwEUgbO,
html.dark-mode ._3tixQkQf,
html.dark-mode .KpW0EccK,
/* login page log in button */
body.sessions-new-page .button.signup,
html.dark-mode .c2-JCY2V ._222QxFjc ._1BmZ-Yeo {
	border-color: rgba(255, 255, 255, 0.1) !important;
}

/* base font colour */
html.dark-mode,
html.dark-mode nav,
/* embedded media title */
html.dark-mode ._3yLY5rI9,
/* retweeted tweet body */
html.dark-mode ._3EzK97M9 > span {
	color: rgba(255, 255, 255, 0.75);
}

/* tweet links are spans in spans in spans */
html.dark-mode ._3ZFqFXW8 ._3EzK97M9 > span > span,
/* "added to list" list name links */
html.dark-mode ._3ZDDth2l {
	color: #2AA2EF !important;
}

/* user "real name" */
html.dark-mode ._38kXZCmY,
/* follower counts */
html.dark-mode ._3YZtKRZQ {
	color: rgba(255, 255, 255, 0.9);
}

/* Heading text */
html.dark-mode ._2qaFoaOS,
html.dark-mode h1,
html.dark-mode h2,
/* input text */
html.dark-mode textarea {
	color: rgba(255, 255, 255, 0.9) !important;
}

/* buttons */
html.dark-mode ._2f-qOhRh {
	background: transparent;
	color: rgb(255, 255, 255) !important;
}

/* reply markers */
html.dark-mode ._1jtqWh_6 {
	background-color: rgba(255, 255, 255, 0.4) !important;
}

/* embedded media border colour and background */
html.dark-mode ._1K1FePxK,
html.dark-mode .zLkZvTFz,
html.dark-mode ._1unhGaVg,
html.dark-mode ._3EPQ2p9j {
	background-color: #2A3D51 !important;
	border-color: rgba(255, 255, 255, 0.1);
}

/* poll colour */
html.dark-mode ._1BBfOLht {
	background-color: #0084ff !important;
}

/* DM conversation received text */
html.dark-mode ._1xAkv3Rq._3tixQkQf {
	color: rgba(255, 255, 255, 0.5) !important;
}

/* DM send message textfield */
html.dark-mode ._3gsfT3lC .JFlBIqN4,
/* DM search box */
html.dark-mode .JFlBIqN4 {
	background: rgba(255, 255, 255, 0.1) !important;
	color: rgba(255, 255, 255, 0.9);
}

/* DM conversation received bubble */
html.dark-mode ._1xAkv3Rq .Y5C1ukbR {
	background-color: #303B47 !important;
}

/* DM conversation received hide white triangle */
html.dark-mode ._37woGctS:before {
	visibility: hidden;
}

/* DM Send button */
html.dark-mode ._1LQ_VFHl {
	border-color: #0084ff;
}

/* Trending item title */
html.dark-mode ._2WpoiLFQ {
	color: rgba(255, 255, 255, 0.6);
}

/* new notification highlight in the Notifications tab */
html.dark-mode ._1O-UMNIz {
	background-color: rgba(255, 255, 255, 0.04) !important
}

/* Notification tab activity indicator */
html.dark-mode ._3CC9EHgm {
	box-shadow: 0 0 0 .14rem #192633 !important;
}

/* change scrollbar style */
html.dark-mode:-webkit-any(.os-linux, .os-win32) ::-webkit-scrollbar {
	background-color: #2f3b47 !important;
}
html.dark-mode:-webkit-any(.os-linux, .os-win32) ::-webkit-scrollbar-thumb {
	background-color: rgba(255, 255, 255, 0.5) !important;
}
