/* Improved text rendering */
html.dark-mode * {
	-webkit-font-smoothing: antialiased !important;
}

/* Background colours */
html.dark-mode,
/* Background of login page */
html.dark-mode body.sessions-new-page,
/* Nav bar */
html.dark-mode nav,
html.dark-mode nav > div,
/* Title bar */
html.dark-mode ._1yjej2X8,
/* Input box */
html.dark-mode ._3ECzUXHz,
/* Spacers in trending page */
html.dark-mode ._3o5W64B2,
/* DM background */
html.dark-mode ._146dsPAe,
/* DM header */
html.dark-mode ._2uy9nnFz,
/* Suggested people */
html.dark-mode .mqmxGGg7,
/* User avatars */
html.dark-mode img._3uSDkk5s,
/* Comment section */
html.dark-mode ._34tfJ18O,
html.dark-mode ._2EmxsDVG {
	background: #192633 !important;
}

/* Search lists */
html.dark-mode ._10lTeTjh,
/* Unread DM */
html.dark-mode .ux8RIzeT {
	background: rgba(255, 255, 255, 0.04);
}

/* Navbar border */
html.dark-mode ._3vk57kRX,
/* Input box border */
html.dark-mode ._2qaFoaOS,
/* Compose tweet border */
html.dark-mode ._-99S9zHC,
/* Suggested people */
html.dark-mode ._3npsCUvN,
/* Spacer border top */
html.dark-mode ._2-x3RLq2,
/* Retweet count borders */
html.dark-mode ._1N8xRqVj,
html.dark-mode ._3h5wA3M_,
/* Heading border */
html.dark-mode ._3FIA3A1x,
/* DM message border */
html.dark-mode .CUNMHrsb,
/* DM compose top border */
html.dark-mode ._2uy9nnFz,
/* Element seperators */
html.dark-mode .ldQL7yes,
html.dark-mode ._1yjej2X8,
html.dark-mode ._3ZZxL70j,
html.dark-mode .nKo5qNPt,
html.dark-mode ._1jPp6AzZ,
html.dark-mode .yb8sRFPz,
/* Login page log in button */
body.sessions-new-page .button.signup,
html.dark-mode .c2-JCY2V ._222QxFjc ._1BmZ-Yeo {
	border-color: rgba(255, 255, 255, 0.1) !important;
}

/* Base font colour */
html.dark-mode,
html.dark-mode nav,
/* Embedded media title */
html.dark-mode ._12jQTkIJ,
/* Embedded media text */
html.dark-mode ._3qXEQLXF,
/* Retweeted tweet body */
html.dark-mode ._3EzK97M9 > span,
/* Tweet stat numbers */
html.dark-mode ._3O8j-ZpD {
	color: rgba(255, 255, 255, 0.75);
}

/* User "real name" */
html.dark-mode .E3BRg3uP,
/* Follower counts */
html.dark-mode ._3YZtKRZQ {
	color: rgba(255, 255, 255, 0.9);
}

/* Heading text */
html.dark-mode ._2qaFoaOS,
html.dark-mode h1,
html.dark-mode h2,
/* Input text */
html.dark-mode textarea {
	color: rgba(255, 255, 255, 0.9) !important;
}

/* Buttons */
html.dark-mode ._2f-qOhRh {
	background: transparent;
	color: rgb(255, 255, 255) !important;
}

/* Reply markers */
html.dark-mode ._1jtqWh_6 {
	background-color: rgba(255, 255, 255, 0.4) !important;
}

/* Embedded media border colour and background */
html.dark-mode ._1B_Ve7vd,
html.dark-mode ._1VCZAQjr,
html.dark-mode ._1t1IjKv5 {
	background-color: #2A3D51 !important;
	border-color: rgba(255, 255, 255, 0.1);
}

/* Poll colour */
html.dark-mode ._1BBfOLht {
	background-color: #0084ff !important;
}

/* DM conversation received text */
html.dark-mode ._1xAkv3Rq._3tixQkQf {
	color: rgba(255, 255, 255, 0.5) !important;
}

/* DM send message textfield */
html.dark-mode ._3gsfT3lC .JFlBIqN4,
/* DM search box */
html.dark-mode .JFlBIqN4 {
	background: rgba(255, 255, 255, 0.1) !important;
	color: rgba(255, 255, 255, 0.9);
}

/* DM conversation received bubble */
html.dark-mode ._1xAkv3Rq .Y5C1ukbR {
	background-color: #303B47 !important;
}

/* DM conversation received hide white triangle */
html.dark-mode ._37woGctS:before {
	visibility: hidden;
}

/* DM Send button */
html.dark-mode ._1LQ_VFHl {
	border-color: #0084ff;
}

/* Trending item title */
html.dark-mode ._2WpoiLFQ {
	color: rgba(255, 255, 255, 0.6);
}

/* New notification highlight in the Notifications tab */
html.dark-mode ._1O-UMNIz {
	background-color: rgba(255, 255, 255, 0.04) !important
}

/* Notification tab activity indicator */
html.dark-mode ._3CC9EHgm {
	box-shadow: 0 0 0 .14rem #192633 !important;
}

/* Change scrollbar style */
html.dark-mode:-webkit-any(.os-linux, .os-win32) ::-webkit-scrollbar {
	background-color: #2f3b47 !important;
}
html.dark-mode:-webkit-any(.os-linux, .os-win32) ::-webkit-scrollbar-thumb {
	background-color: rgba(255, 255, 255, 0.5) !important;
}

html.dark-mode ._3ZSf8YGw,
html.dark-mode ._3qQLFoYV, ._3qQLFoYV:active, ._3qQLFoYV:focus, ._3qQLFoYV:hover,
html.dark-mode ._3ZNFEy6P, ._3ZNFEy6P:active, ._3ZNFEy6P:focus, ._3ZNFEy6P:hover,
html.dark-mode ._1HXcreMa {
	color: white !important;
}

/* Change some white borders */
html.dark-mode ._2OhV6WSs ._1eF_MiFx ._2sSKjr8W,
html.dark-mode ._3ITjOJ53,
html.dark-mode #react-root header nav,
html.dark-mode ._2sUBu-oA,
html.dark-mode ._24u5-vsm {
	border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important;
}
html.dark-mode ._33HzS5QJ,
html.dark-mode ._3DRCrDG0 {
	border-top: 1px solid rgba(255, 255, 255, 0.1) !important;
}
html.dark-mode ._3Ko_vUO1,
html.dark-mode ._15-p_S0N,
._1RX2dJ0n {
	border: 1px solid rgba(255, 255, 255, 0.1) !important;
}

/* DM */
html.dark-mode ._1YVNMg8K ._29kyA7wX,
html.dark-mode ._24u5-vsm {
	background-color: rgba(0, 0, 0, 0.3) !important;
}
html.dark-mode ._1aYYbHbU._3f2NsD-H {
	margin-left: 40px !important;
}
